---
import ButtonHome from '../components/ButtonHome.astro';
import Layout from '../layouts/LayoutPrincipal.astro';
import ListadoHimnos from '../components/ListadoHimnos';
import { db, himnos as dataHimnos } from 'astro:db';
const himnos = await db.select().from(dataHimnos);
---

<ButtonHome> Inicio </ButtonHome>
<Layout>
  <h3 class="text-4xl text-center mt-6">Himnos</h3>
  <ListadoHimnos client:load himnos={himnos} />
</Layout>
