---
import Layout from '../../layouts/LayoutPrincipal.astro';
import { db, himnos as dataHimnos, like } from 'astro:db';
import BotonVolver from '../../components/BotonRedireccion.astro';
export const prerender = true;
export const getStaticPaths = async () => {
  const himnos = await db.select().from(dataHimnos);
  return himnos.map((himno) => ({ params: { id: himno.id }, props: himno }));
};
// const { id } = Astro.params;
// const himnos = await db
//   .select()
//   .from(dataHimnos)
//   .where(like(dataHimnos.id, id));
// const [himno] = himnos;

// const himno = himnos.;
const himno = Astro.props;
---

<BotonVolver url="/listadoHimnos">Atrás</BotonVolver>
<Layout background="bg-black">
  <div class="flex flex-col justify-center items-center mb-10 gap-5">
    <h3 class="text-black text-center">{himno.titulo}</h3>
    <pre class="text-black text-sm w-96">{himno.letra}</pre>
  </div>
</Layout>
