---
const { url } = Astro.props;
---

<div class="flex justify-start m-6">
  <a
    href={url ? url : '/'}
    class="px-4 py-2 rounded-lg bg-blue-500 text-white font-bold hover:bg-blue-700"
  >
    <slot>Inicio</slot>
  </a>
</div>
